body {    font-family: 'Nunito';}
a, a:hover, a:active {
    text-decoration: none;
    color: white;}
.Process {
    color: black;
    width: 100%;
    background: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    padding: 100px;}
.pro {margin: auto;}
.skin {position: absolute;}
.stem {
    position: relative;
    top: 36px;
    left: 35px;}
h3 {
    margin-top: 80px;
    font-size: 20px;
    font-weight: 900;}
h3.ex {margin-left: -40px;}


@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 425px) {}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 411px) {
    .Process {padding: 60px;}
    .pro {margin-top: 0px;}
    h3.ex {margin-left: 0px;}
  }
@media screen and (max-width: 375px) {}
@media screen and (max-width: 360px) {}
@media screen and (max-width: 320px) {}
   