body {font-family: 'Nunito';}
a, a:hover, a:active {
    text-decoration: none;
    color: white;}
p {
    color: #000000;
    font-size: 11px;}
.box {
    margin: auto;
    width: 1000px;
    height: 400px;
    background: white;
    background-image: url("../data/images/pngwing%207.png");
    background-size: 100%;
    background-repeat: no-repeat;}
.SignIn {
    margin: auto;
    width: 900px;
    margin-top: 80px;
    text-align: center;}
.side_a {width: 500px;}
img {
    padding-top: 80px;
    height: 90%;
    width: 60%;
    border-radius: 10px 0 0 10px;
    background: #04544C;}
.side_b {margin-left: -70px;}
h2 {font-weight: 900;}
.btn {
    font-size: 15px;
    margin-bottom: 30px;
    background: #DDDDDD;
    color: white;}
h7 {
    color: #0C5C4C;
    font-weight: 900;}
.nerd {
    margin-bottom: 0px;
    width: 200px;}
.last {
    margin-left: 90px;
    margin-top: 10px;}
.last p {color: #868686;}
.sign_up p{
    color: brown;
    margin-left: 4px;
    text-decoration: underline;
    font-weight: 900;}


@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 425px) {
    .box {width: 300px;}
    .SignIn {
        margin: 0px;
        width: 300px;}
    .side_a, .side_b {
        width: 300px;
        margin: auto;}
    img {
        margin-top: 40px;
        border-radius: 0;
        width: 100%;}
    .last {margin-left: 70px;}
    }
@media screen and (max-width: 414px) {}
@media screen and (max-width: 411px) {}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 360px) {}
@media screen and (max-width: 320px) {}
   