body {    font-family: 'Nunito';}
a, a:hover, a:active {
    text-decoration: none;
    color: white;}
.WhoWeAre {
    color: black;
    width: 100%;
    background-color: #E5E5E5;
    background-image: url("../data/images/pngwing%207.png");
    display: flex;
    flex-wrap: wrap;}
.Who {
    margin: 50px;
    margin-left: 120px;}
.Who img {margin: 10px;}
.We {margin: 50px;}
h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 70px;
    text-align: left;}
.We p {font-size: 24px;}


@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 425px) {}
@media screen and (max-width: 414px) {}
@media screen and (max-width: 411px) {
     h1 {
    font-size: 47px;
    line-height: 45px;
    margin: 40px;}
  .btn {margin: 40px;}
  }
@media screen and (max-width: 375px) {}
@media screen and (max-width: 360px) {}
@media screen and (max-width: 320px) {}
   