body {font-family: 'Nunito';}
a, a:hover, a:active {
    text-decoration: none;
    color: white;}
p {
    color: #000000;
    font-size: 11px;}
.box {
    margin: auto;
    width: 1000px;
    height: 400px;
    background: white;}
.SignIn {
    margin: auto;
    width: 900px;
    margin-top: 80px;
    text-align: center;}
.left {text-align: left;}
.side_a {
    width: 400px;
    height: 500px;
    border-radius: 10px 0 0 10px;
    background: #04544C;}
.side_b {margin-left: 30px;}
h2 {font-weight: 900;}
.btn {
    font-size: 15px;
    margin-bottom: 30px;
    background: #04544C;
    color: white;}
.nerd {
    margin-top: 20px;
    margin-bottom: 0px;
    width: 200px;}
img {height: 15px;}
input, select {
    margin-bottom: 20px;
    width: 178px;}
.go {width: 360px;}
.line {margin-right: 5px;}
.f_n {margin-right: 90px;}
.l_n {margin-right: 110px;}


@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 425px) {
    .box {width: 300px;}
    .SignIn {
        margin: 0px;
        width: 300px;}
    .side_a, .side_b {
        border-radius: 0;
        width: 300px;
        margin: auto;}
    img {width: 40%;}
    .lined {margin-left: 15px;}
    input, select, .go {width: 300px;}
    }
@media screen and (max-width: 414px) {}
@media screen and (max-width: 411px) {}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 360px) {}
@media screen and (max-width: 320px) {}
   